# Requirements for Binder

cmasher==1.7.1
dfply==0.3.3

seaborn==0.11.2

bokeh==2.3.3
psutil==5.8.0

altair==4.1.0
vega==3.5.0
vega_datasets==0.9.0

plotly==5.3.1
plotly-express==0.4.1
cufflinks==0.17.3

holoviews[recommended]==1.14.6

xlsxwriter==3.0.1
